<a href="https://colab.research.google.com/github/anhnbach/DS1002Work/blob/main/Copy_of_07_More_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# More pandas exercises

Create a Colab notebook. Complete the tasks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

1.  Load the following dataset into Colab and perform the requested operations in code.

 Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

In [163]:
# Load pandas and the data
import pandas as pd

rideshares = pd.read_csv('https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv')

In [164]:
# show how many rows and columns are in this dataset

print(rideshares.shape)

print(rideshares.columns)

print(len(rideshares))

print("\n There are 25,760 rows and 10 columns in this dataset")

(25760, 10)
Index(['duration', 'station_A_id', 'station_A_name', 'station_B_id',
       'station_B_name', 'bike_id', 'user_type', 'user_birth_year',
       'user_gender', 'tire_size'],
      dtype='object')
25760

 There are 25,760 rows and 10 columns in this dataset

In [165]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)

rideshares['duration'] = rideshares['duration'].str.strip('minutes')
rideshares['duration'] = rideshares['duration'].astype('int')
#The first snippet of code will remove the 'minutes' part out of the duration column and allow the second snippet to convert the type of values in the column to int.

In [166]:
# Now display the datatypes in the updated dataframe

print(rideshares.dtypes)

duration            int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [167]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.

print(rideshares['duration'].min())
#The shortest ride

print(rideshares['duration'].max())
#The longest ride

1
1372

In [168]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# Hint: Use the .query() method for the dataframe that we used in class.

df60 = rideshares.query('duration <= 60')

In [169]:
# Now show both the min and max values of the duration column for your new dataset.

print(df60['duration'].min())
#Showing the min values of the duration column

print(df60['duration'].max())
#Showing the max values of the duration column

1
60

In [170]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.

df60 = df60.query('tire_size == 26')

In [171]:
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.

df60_female = df60.query('user_gender == "Female"')


print(len(df60_female))

print("\n There are 2962 female riders using 26-inch wheeled rentals for one hour or less")

2962

 There are 2962 female riders using 26-inch wheeled rentals for one hour or less

2. Find the file `more-messy-data.csv` on GitHub and upload it into Google Colab.

Create a new Pandas DataFrame from that data and perform the following steps.

In [123]:
# Write a snippet of code that will display the number of duplicate rows exist in the DF.

df_messy = pd.read_csv('./more-messy-data.csv')

print(df_messy.duplicated().sum())
#This is the number of duplicate rows in the df

287

In [124]:
# Next, remove all duplicate rows using Python.

df_messy = df_messy.drop_duplicates()

print(df_messy.duplicated().sum())

0

In [125]:
# For the FOUR columns involving sepal and petal length and width, update all NaN
# values with the column mean.

df_messy = df_messy.fillna(df_messy.mean())

df_messy.head(20)

<ipython-input-125-13b8536b7500>:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_messy = df_messy.fillna(df_messy.mean())

    id  sepal_length  sepal_width  petal_length petal_width     species
0    1      3.500000      2.90000           1.4         0.5   virginica
1    2      3.600000      3.20000           3.0         0.5      setosa
2    3      3.800000      2.98876           2.2         1.5      setosa
3    4      5.800000      2.70000           2.6         1.2   virginica
4    5      4.900000      3.60000           3.0         1.2   virginica
5    6      5.000000      2.70000           1.4         2.3      setosa
6    7      4.800000      3.00000           2.6         1.4      setosa
7    8      5.500000      2.20000           2.1         2.1   virginica
8    9      5.500000      2.90000           1.1           3      setosa
9   10      4.522004      3.40000           2.6         1.9   virginica
10  11      3.700000      2.10000           1.4         1.3      setosa
11  12      4.522004      3.50000           1.6        gg28      setosa
12  13      4.700000      2.00000           1.2         1.9   virginica
13  14      6.000000      2.98876           1.1         2.6   virginica
14  15      3.300000      2.70000           2.9         0.4      setosa
15  16      4.100000      3.50000           1.9         0.7  Versicolor
16  17      4.600000      2.90000           2.1         2.6   virginica
17  18      3.700000      2.60000           1.3         0.9      setosa
18  19      5.500000      2.50000           1.8         1.8   virginica
19  20      3.700000      2.40000           1.2         NaN      setosa

In [127]:
# Find any values in the dataframe that are still missing, and delete them.

df_messy = df_messy.dropna()

df_messy.head(20)

    id  sepal_length  sepal_width  petal_length petal_width     species
0    1      3.500000      2.90000           1.4         0.5   virginica
1    2      3.600000      3.20000           3.0         0.5      setosa
2    3      3.800000      2.98876           2.2         1.5      setosa
3    4      5.800000      2.70000           2.6         1.2   virginica
4    5      4.900000      3.60000           3.0         1.2   virginica
5    6      5.000000      2.70000           1.4         2.3      setosa
6    7      4.800000      3.00000           2.6         1.4      setosa
7    8      5.500000      2.20000           2.1         2.1   virginica
8    9      5.500000      2.90000           1.1           3      setosa
9   10      4.522004      3.40000           2.6         1.9   virginica
10  11      3.700000      2.10000           1.4         1.3      setosa
11  12      4.522004      3.50000           1.6        gg28      setosa
12  13      4.700000      2.00000           1.2         1.9   virginica
13  14      6.000000      2.98876           1.1         2.6   virginica
14  15      3.300000      2.70000           2.9         0.4      setosa
15  16      4.100000      3.50000           1.9         0.7  Versicolor
16  17      4.600000      2.90000           2.1         2.6   virginica
17  18      3.700000      2.60000           1.3         0.9      setosa
18  19      5.500000      2.50000           1.8         1.8   virginica
20  21      3.100000      2.40000           1.4         0.7      setosa

In [132]:
# How many different species are there?

print(df_messy['species'].describe())

print("\n There are 9 recognized unique species in the dataset, but there should only be 3")

count        887
unique         9
top       setosa
freq         443
Name: species, dtype: object

 There are 9 recognized unique species in the dataset, but there should only be 3

In [148]:
# Clean up the 'species' variable so that there are exactly three different values.

df_messy['species'] = df_messy['species'].str.lower()
#This line will replace the messy capitalization of the species column into a uniform lowercase.

df_messy['species'] = df_messy['species'].replace("virginia", "virginica")

df_messy['species'] = df_messy['species'].replace("setoso", "setosa")

df_messy['species'] = df_messy['species'].replace("setosan", "setosa")

df_messy['species'] = df_messy['species'].replace("viginica", "virginica")
#The four lines of code above will replace the typos in the species column with the correct spelling.

print(df_messy['species'].unique())

print(df_messy['species'].describe())

['virginica' 'setosa' 'versicolor']
count        887
unique         3
top       setosa
freq         447
Name: species, dtype: object

3. Bonus:  Regular expressions

Ordinary (non-vanity) Virginia license plates have the form `ABC1234`, meaning they have three upper case letters followed by four digits.  Write a regular expression that matches any string of this form (and doesn't match anything else).  Test your expression with code to make sure it works.

To figure out out how to do this, start with the sample code below.  The `re` package has various functions related to regular expressions, including for example `match()`, which takes two arguments, first the regular expression and second the test string, and tests to see whether the *beginning* of the `test` string matches the pattern `exp`.

Note that `re.match(exp,test)` does not return a boolean variable, as you might expect (in other words, a match doesn't return `True` and a non-match `False`).  The type of object you get is called `re.Match`, which is a data type special to the `re` package.  (The reason for this is that the object contains more information than just whether there is a match or not.) However, you can turn it into a boolean using `bool()` if you want.

Include the following in the notebook you submit:

 1. A regular expression in a text chunk
 2. One or more code chunks in which you test several strings to verify that your regex is correct.
 3. Make sure you display the results of testing various strings.

 See this [documentation page](https://docs.python.org/3/howto/regex.html#regex-howto) for further help.

In [159]:
# Sample code for testing whether a string matches a regex

# First import this package for working with regular expressions
import re

# Here is an example.
# Play around with different expressions and test strings to see what happens.
exp = '[A-Z]{3}[0-9]{4}'
#This will create the pattern needed for the Viriginian plates with 4 letters at the front and 3 numbers after.
test = 'ABC1234'

if re.match(exp,test):
  print("match!")
else:
  print("no match")


# uncomment this line if you want
print(type(re.match(exp,test)))

# uncomment this line if you want
print(bool(re.match(exp,test)))

match!
<class 're.Match'>
True

In [161]:
exp = '[A-Z]{3}[0-9]{4}'
#This will create the pattern needed for the Viriginian plates with 4 letters at the front and 3 numbers after.
test = 'ABC1234'

if re.match(exp,test):
  print("match!")
else:
  print("no match")

match!

In [160]:
exp = '[A-Z]{3}[0-9]{4}'
#This will create the pattern needed for the Viriginian plates with 4 letters at the front and 3 numbers after.
test = 'ABCABC1234'

if re.match(exp,test):
  print("match!")
else:
  print("no match")

no match

In [173]:
exp = '[A-Z]{3}[0-9]{4}'
#This will create the pattern needed for the Viriginian plates with 4 letters at the front and 3 numbers after.
test = 'DCF4489'

if re.match(exp,test):
  print("match!")
else:
  print("no match")

match!